.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #384647;
  min-width: 0;
  min-height: 0;
}
.freeBox__diAjY {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__diAjY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__diAjY > :global(.__wab_flex-container) > *,
.freeBox__diAjY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__diAjY > :global(.__wab_flex-container) > picture > img,
.freeBox__diAjY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__diAjY {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__diAjY > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__diAjY > :global(.__wab_flex-container) > *,
  .freeBox__diAjY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__diAjY > :global(.__wab_flex-container) > picture > img,
  .freeBox__diAjY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__zdrv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-top: -2px;
  min-width: 0;
}
.freeBox__zdrv5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zdrv5 > :global(.__wab_flex-container) > *,
.freeBox__zdrv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zdrv5 > :global(.__wab_flex-container) > picture > img,
.freeBox__zdrv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zdrv5 {
    margin-top: calc(-2px + 0px) !important;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(-60px + 24px) !important;
  margin-bottom: 60px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin-top: calc(0px + 24px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
.freeBox__r45C1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: url("/plasmic/cms_starter/images/image28.svg") top -470px right -220px / auto 1360px
      no-repeat padding-box border-box local,
    var(--token-vo2RA3d4JdbA);
  min-width: 0;
  padding: 80px;
}
.freeBox__r45C1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__r45C1 > :global(.__wab_flex-container) > *,
.freeBox__r45C1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r45C1 > :global(.__wab_flex-container) > picture > img,
.freeBox__r45C1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r45C1 {
    background: url("/plasmic/cms_starter/images/image28.svg") top -470px right -390px / auto 1190px
        no-repeat padding-box border-box local,
      var(--token-vo2RA3d4JdbA);
    padding: 70px 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r45C1 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 757px;
  padding-bottom: 0px;
  font-size: 48px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 0px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
  }
}
.h2 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-PhswgFjhbXz9);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 25px;
  }
}
.freeBox__guNSq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__guNSq {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.link__hokM6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  padding: 6px 22px;
  border: 2px solid var(--token-PhswgFjhbXz9);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hokM6 {
    align-items: center;
    justify-content: center;
  }
}
.text__bvFl2 {
  width: auto;
  height: auto;
  color: var(--token-PhswgFjhbXz9);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bvFl2 {
    font-size: 20px;
  }
}
.svg__mwb6R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-PhswgFjhbXz9);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mwb6R {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.freeBox__njLtW {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 1300px;
  height: auto;
  align-self: center;
  background: none;
  padding: 2px 16px 27px;
}
.freeBox__njLtW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__njLtW > :global(.__wab_flex-container) > *,
.freeBox__njLtW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__njLtW > :global(.__wab_flex-container) > picture > img,
.freeBox__njLtW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__njLtW {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__njLtW > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__bruZj {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__bruZj > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__bruZj > :global(.__wab_flex-container) > *,
.freeBox__bruZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bruZj > :global(.__wab_flex-container) > picture > img,
.freeBox__bruZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bruZj {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 16px 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bruZj > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bruZj > :global(.__wab_flex-container) > *,
  .freeBox__bruZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bruZj > :global(.__wab_flex-container) > picture > img,
  .freeBox__bruZj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__do5X0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__do5X0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__do5X0 > :global(.__wab_flex-container) > *,
.freeBox__do5X0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__do5X0 > :global(.__wab_flex-container) > picture > img,
.freeBox__do5X0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__do5X0 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__do5X0 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.svg___2Cf7Z {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2Cf7Z {
    width: 100%;
    min-width: 0;
  }
}
.link__pdD5M {
  position: relative;
  color: var(--token-LGhSQGRODV1e);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pdD5M {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-LGhSQGRODV1e);
  }
}
.link___0Cg5F {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--token-LGhSQGRODV1e);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Cg5F {
    font-size: 16px;
  }
}
.link__yzjom {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--token-LGhSQGRODV1e);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yzjom {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-LGhSQGRODV1e);
  }
}
.freeBox___45GKq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___45GKq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 0;
  }
}
.text__ny7Yq {
  position: relative;
  color: var(--token-LGhSQGRODV1e);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ny7Yq {
    font-size: 12px;
    width: auto;
  }
}
.link__vz73U {
  position: relative;
  color: var(--token-vo2RA3d4JdbA);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vz73U {
    font-size: 12px;
    width: auto;
  }
}
.root .link__vz73U:hover {
  text-decoration-line: underline;
}
