.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__ogSw {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__ogSw > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__ogSw > :global(.__wab_flex-container) > *,
.freeBox__ogSw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ogSw > :global(.__wab_flex-container) > picture > img,
.freeBox__ogSw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ogSw {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link___8I1Ip {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__qEmSi {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__s2Gq9 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__s2Gq9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__s2Gq9 > :global(.__wab_flex-container) > *,
.freeBox__s2Gq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s2Gq9 > :global(.__wab_flex-container) > picture > img,
.freeBox__s2Gq9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s2Gq9 {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s2Gq9 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s2Gq9 > :global(.__wab_flex-container) > *,
  .freeBox__s2Gq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s2Gq9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__s2Gq9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__s2Gq9K75S {
    display: none;
  }
}
.link__iUzWo {
  position: relative;
  color: var(--token-PhswgFjhbXz9);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iUzWo {
    font-size: 16px;
  }
}
.link__zDYeL {
  position: relative;
  color: var(--token-PhswgFjhbXz9);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zDYeL {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-PhswgFjhbXz9);
  }
}
.link__yb2Mu {
  position: relative;
  color: var(--token-PhswgFjhbXz9);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yb2Mu {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-PhswgFjhbXz9);
  }
}
.freeBox__kxyUx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__kxyUx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__kxyUx > :global(.__wab_flex-container) > *,
.freeBox__kxyUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kxyUx > :global(.__wab_flex-container) > picture > img,
.freeBox__kxyUx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lbF49 {
  position: relative;
  object-fit: cover;
  color: var(--token-PhswgFjhbXz9);
  width: 30px;
  height: 30px;
}
.root .svg__lbF49:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token-PhswgFjhbXz9);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__macKg {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton___1Gvy2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__nDGc6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zd7YX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__nsWJz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tgA9W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
